extends ../layout

block content
    header
        nav
            ul
             - list = [{text: "Eventos", link: '/eventos'}, {text: "Inscrições", link: '/inscricoes'}, {text: "Certificados", link: '/certificados'}, {text: "Sair", link: '/logout'}]
                each item in list
                    li
                        a(href=item.link)= item.text
    .base-content
        block base-content
