extends base
include ../mixin/search-bar

block base-content

    h2 Lista de Eventos

    ul.event-list
        each event in events
            li
                a(href=`/eventos/${event.id}`)= event.name
