extends layout

block content
  h1(style="text-align: center")= title
  form(style="width: 500px; margin: auto;", name="login", action="/login", method="post")
    div.input
      span.label Usuário
      input(type="text", name="username", required=true)
    div.input
      span.label Senha
      input(type="password", name="password", required=true)
    div.actions
      input(type="submit", value="LOGIN")
